<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.dao.StudentMapper">

    <cache  type="org.mybatis.caches.ehcache.EhcacheCache">
        <!-- 通过property覆盖Ehcache.xml中的值 -->
        <property name="maxElementsInMemory" value="2000"/>
        <property name="maxElementsOnDisk" value="3000"/>
    </cache>

    <select id="findAll" resultType="Student">
        select * from student
    </select>

    <!--查询一个班的学生 延迟-->
    <select id="queryStudentByClassId" parameterType="int" resultType="Student">
        select * from student where classid = #{classid}
    </select>


    <select id="quertStudentByStuno" useCache="true" parameterType="int" resultType="Student" >
        select * from student where stuno = #{stuno}
    </select>

</mapper>